.outerBox {
    background-color: rgba(128, 128, 128, 0.418);
    color: white;
    border-radius: 1rem;
    width: 17rem;
    max-height: 40%;
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 1000;
}

.cursor {
    cursor: pointer;
}

.satelliteBox {
    background-color: rgba(128, 128, 128, 0.418);
    color: white;
    border-radius: 1rem;
    width: 17rem;
    max-height: 25%;
    position: absolute;
    top: 44%;
    right: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 1000;
    cursor: pointer;
}